{% extends 'layout.html' %}
{% block title %}
Lincoln University Postgraduate Reporting Portal
{% endblock %}

{% block content %}

<h2>Faculty of Environment Society and Design</h2>

<h3>PhD Student 6-Month Report Form</h3>

<h5>This form, for thesis students and their supervisors only, is to be completed by 31 July and 31 January each year.</h5>
<button class="iInfo" onclick="sectionInfo()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4137e8" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
</button>

<div id="fInfo" style="display: none;"></div>
<p>Instructions/Purpose/Confidentiality</p>

<ul>
    <li>Lincoln University requires all PhD students and their supervisors to complete this report form twice a year.</li>
    <li>Sections A, B and C – to be completed by the student and then discussed with supervisor</li>
    <li>Section D – to be completed by the student after discussion with the supervisor</li>
    <li>Section E – Supervisors to complete</li>
    <li>Section F (optional) – Students can complete if they wish to.</li>
    <li>Recommendation: Students should complete sections A, B, C and meet your supervisors to complete Section D. Complete Section F if you wish to.</li>
</ul>

    <h4>The purpose of this form</h4>
        <p>This form has been prepared to assist in:</p>
        <ul>
            <li>coordinating student/supervisor expectations</li>
            <li>improving supervision through the encouragement of ‘best practice’</li>
            <li>improving documentation</li>
            <li>identifying issues at an early stage</li>
            <li>alerting Faculties to resource and related problems.</li>        
        </ul>

<p>
    In some circumstances students may wish to discuss issues with the:
    Room Forbes 421. Email: hamish.rennie@lincoln.ac.nz
    or with 
    Room Hud116, Email: megan.clayton@lincoln.ac.nz
</p>

<ul>
    <li>ESD Faculty Postgraduate Chair, Associate Professor Hamish Rennie</li>
    <li>Lincoln University Academic Administration Committee Convenor, Dr Megan Clayton</li>    
</ul>

<p>
    Sections D and E of this form are intended to be confidential.  However, under the Official Information Act 1982 any records held by the University in relation to staff or students are accessible by those staff or students and, on many occasions, by the general public.  Therefore, postgraduates may prefer initially to discuss problems with one or more of the people named above, rather than committing their concerns about colleagues, supervisors, etc, to writing.  It will, of course, often be impossible for the Faculty Postgraduate Chair to take action on supervision and other problems without revealing details of the concern, and the students involved.
</p>


<p>
    Upon completion, Sections A, B, C, D and E should be submitted to the Faculty Postgraduate Administrator: Douglas Broughton, Landscape 124, douglas.broughton@lincoln.ac.nz
</p>


<p>
    Students who complete Section F should send it to the Faculty Postgraduate Chair: 
    Hamish Rennie, Forbes 421, hamish.rennie@lincoln.ac.nz or 
    Megan Clayton, Room HUD116, Email: megan.clayton@lincoln.ac.nz
</p>


{% endblock %}