{% extends 'layout.html' %}
{% block title %}
Lincoln University Postgraduate Reporting Portal
{% endblock %}


{% block content %}
<section id="sec-D4">

    <h2>SECTION D - Research Objectives for the next Six Months
        <button class="iInfo" onclick="sectionFInfo()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FDDA2D" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
        </button>
    </h2>
    <div id="cInfo" style="display: none;">See your Research Proposal, which in most cases should have been prepared by now.
    </div>

    <form action="/section_d4/edit" method="POST">                            
        <input hidden name = 'reportid' value="{{report_id}}">
        <table class="table">      
            <tr>
                <td></td>
                <td><label for=""><h4 class="lgequest">Research Objectives</h4>                
                                
                    </label>
                </td>
                <td><label for=""><h4>Target completion date</h4></label></td>            
                <td><label for=""><h4>Anticipated problems in achieving objectives</h4></label></td>
                <td></td>
            </tr>
    
            {% for i, c in D4data %}
            <tr>
                <td>{{loop.index}}.</td>
                <td>
                    <div class="input" data-reactid=".hbspt-forms-1.1:$7.$message">
                        <textarea name="title[]" id="message-808cf8a6-4352-4567-920a-2bd57d8b231f_6878" class="hs-input" data-reactid=".hbspt-forms-1.1:$7.$message.0" style="margin: 0px; width: 450px; height: 100px;">{% if c[0] %}{{c[0]}}{% endif %}</textarea>
                    </div>
                </td>
                <td><input type="date" name="duedate[]" class="form-control"{% if c[1] %} value="{{c[1]}}" {% endif %}></td>
                <td>
                    <div class="input" data-reactid=".hbspt-forms-1.1:$7.$message">
                        <textarea name="comment[]" id="message-808cf8a6-4352-4567-920a-2bd57d8b231f_6878" class="hs-input" data-reactid=".hbspt-forms-1.1:$7.$message.0" style="margin: 0px; width: 300px; height: 100px;">{% if c[2] %}{{c[2]}}{% endif %}</textarea>
                    </div>
                </td>
                <input hidden name = "id[]" value="{{i[0]}}">
                <td><button value="{{i[0]}}" name="submit" type="submit"class="delBtn" title="Delete Objective">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
            </tr>              
            {% endfor %}

            <tr>
                <td>
                    <button value="add"name="submit" type="submit"class="addBtn" title="Add Objective">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#3147e8" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                    </svg>
                    </button>
                </td>
            </tr>
            <!-- <tr>
                <td colspan="3">
                </td>
            </tr> -->
        </table>
        
            <!-- buttons  -->
    <div class="buttonArea">
        <input hidden name = 'reportid' value="{{report_id}}">    
        
        <button type='submit' name='submit' value ='Previous' class="prevBtn" title="Previous">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3147e8" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
        </button>
                
        <button type='submit' name='submit' value ='Save & Exit' class="snxBtn" title="Save & Exit">
          <i class="glyphicon glyphicon-floppy-save"></i>
        </button>
  
        <button type='submit' name='submit' value ='Next' class="nxtBtn" title="Next">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3147e8" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
              <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>      
      </div>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <span>{{ message }}<span>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </form>
</section>
<!-- i icon script -->
<script>
    function sectionFInfo() {
        var x = document.getElementById("d4Info");
        if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
        }
    }
  </script>

{% endblock %}
